@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --MyYellow: #FDA403;
  --MyGreen :#02250a;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.button {
  background-color: var(--MyYellow);
  color:black;
  padding: 5px 15px;
  border-radius: 10px;
}

.textHead {
  @apply text-5xl;
  color: var(--MyYellow);
  font-weight: bold;
}
